<img [src]="imgUrl$ | async" />

<ng-container *ngrxLet="hasPepperoni$ as hasPepperoni">
  <button data-cy="add_pepperoni" (click)="pepperoniClick(hasPepperoni)">
    {{ hasPepperoni ? 'Remove' : 'Add' }}
    Pepperonni
  </button>
</ng-container>

<ng-container *ngrxLet="hasSausage$ as hasSausage">
  <button data-cy="add_sausage" (click)="sausageClick(hasSausage)">
    {{ hasSausage ? 'Remove' : 'Add' }}
    Sausage
  </button>
</ng-container>

<h1 data-cy="pizza__price">Price: $ {{ price$ | async }}</h1>
